<mat-card >
  <mat-card-header>
    <mat-card-title>{{ type }} temp Sensor {{address}}</mat-card-title>
    <mat-card-subtitle>Current: {{tempK - 273.15 | number:'1.2-2'}}°C / {{ (tempK - 273.15)*1.8 + 32 | number:'1.2-2'}}°F</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="width-full" >
      <input matInput placeholder="SignalKPath" [name]="address" [matAutocomplete]="auto" [formControl]="pathCtrl">
      <mat-error *ngIf="pathCtrl.hasError('hasWildCard')">
        Please replace wildcard with value
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let path of filteredPaths | async" [value]="path">
            {{ path }}
          </mat-option>
      </mat-autocomplete>
      
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="accent" [disabled]="!pathCtrl.valid || pathCtrl.pristine" (click)="savePath()">Save</button>
      
  </mat-card-actions>
</mat-card>