<mat-toolbar color="primary">Configuration of SigKSens</mat-toolbar>
<app-sensor-config></app-sensor-config>


<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>1Wire Sensor Config</mat-panel-title>
      <mat-panel-description>Configure the SignalKPath of detected 1Wire Devices</mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>SHT30 Sensor Config</mat-panel-title>
        <mat-panel-description>Configure the SignalKPath of detected Onboard Temp/Humidity Sensor</mat-panel-description>
      </mat-expansion-panel-header>
      <app-sensor-config></app-sensor-config>
    </mat-expansion-panel>
</mat-accordion> -->