<mat-toolbar color="accent">
    <button type="button" mat-icon-button (click)="sidenav.open()" color="primary">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </button>
    SigKSens for: <a class="hostname" (click)="changeHostname()">{{ host | async }} </a>
    <div *ngIf="status">Ok</div>
    <div *ngIf="!status">Error communicating with sensor</div>
</mat-toolbar>
<mat-sidenav-container #sidenav>
    <mat-sidenav class="sidenavMenu">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.close()" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>    
            <a mat-list-item (click)="sidenav.close()" routerLink="/sigk"><i class="fa fa-gear" aria-hidden="true"></i> SignalK Settings</a>    
            <a mat-list-item (click)="sidenav.close()" routerLink="/server">aaa</a>    
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>




<!-- -->